[Unit]
Description=daemontools Start supervise
After=getty.target
[Service]
Type=simple
User=root
Group=root
Restart=always
ExecStart=/command/svscanboot
TimeoutSec=0
[Install]
WantedBy=multi-user.target
